#!/bin/bash -e

export CONSUL_PORT=${CONSUL_PORT:-8500}
export CONSUL_HOST=${CONSUL_HOST:-172.17.42.1}
export CONSUL=$CONSUL_HOST:$CONSUL_PORT

exec consul-template \
    -consul=$CONSUL_HOST:$CONSUL_PORT \
    -config "/etc/consul-template/config"
